<div class="brand-area bg-lightPrimary">
	<div class="container">
	<div class="row">
		<%= image_tag "about/team.jpg", class: "img-responsive" %>
</div>
<br/>
	<div class="row">
	<h4 style="text-align: justify; ">
Красоту, как и драгоценность, нужно держать в надлежащем виде и мы как истинные ювелиры, профессионалы своего дела, стоим на страже красоты.
Центр Эстетической Медицины – это уверенность в получении результата, а в сфере красоты, это тончайшее ювелирное мастерство, блюстители которого высококлассная команда профессионалов, в их распоряжении поставлена лучшая техника и образцы новейших препаратов в сфере косметологии.
Центр Эстетической Медицины – это уровень и качество обслуживания. Мы знаем, что нужно для достижения высот в нашем деле – это природный талант, тонкое понимание красоты, качественное образование и большой опыт. В нашем центре подобрана лучшая команда специалистов, врачей, которые знают, любят свое дело. Ведь профессионалы любящие свою работу, всегда достигают желаемых результатов.
Центр Эстетической медицины работает в трех направлениях:
Эстетическая косметология, а именно косметологические программы по лечению, омоложению, восстановлению и устранению эстетических недостатков кожи.

Инъекционная косметология - различные инъекционные методики, применяемые специалистами в борьбе с возрастными изменениями кожи, акне, и другими несовершенствами.

Аппаратная косметология, уникальные методики коррекции кожи лица и фигуры.
В нашем центре неизменно подкрепляется гармонизацией состояние здоровья пациента, перенаправление на качественный и более высокий уровень жизни.
</h4>

<table>
	<tr>
		<td>
		<%= link_to image_tag("about/icons/orel.jpg", border: 0), licences_path %>
</td>
<td>
Лицензии Департамента здравоохранения города Москвы</td>
		<td>
		<%= link_to image_tag("about/icons/fns.png", border: 0), svidetelstvo_path %>
</td>
		<td>
		Свидетельство о государственной регистрации в качестве юридического лица</td>
		<td>
		<%= link_to image_tag("about/icons/roszdravnadzor.png", border: 0), roszdravnadzor_path %>
</td>
		<td>Территориальный орган Росздравнадзора по г. Москве и Московской области</td>
		<td>
		<%= link_to image_tag("about/icons/upravlenie-fed-slyzhbi.png", border: 0), rospotrebnadzor_path %>
</td>
		<td>Управление Федеральной службы по надзору в сфере защиты прав потребителей и благополучия человека по городу Москве</td>
	</tr>
</table>
	</div>
</div>
</div>	
