
            <div class="blog-page4-area">
                <div class="container">
	<div class="title-area">
	    <!-- <span class="sub-title">Awesome <span> Team</span></span> -->
	    <h2 class="title title-bar">Маркетплэйс в сфере медицинских услуг</h2>
	</div>
            <!-- Inner Page Banner Area End Here -->
            <!-- Blog Page 4 Area Start Here -->
                    <div class="row" id="blog-gallery">                       
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">
                            <div class="news-box1">
                                <div class="news-box-img">
                                    <%= image_tag "services-main/correction.jpg", class: "img-responsive",  alt: "logo" %>
                                </div> 
                                <div class="news-box-content">
                                    <div class="news-box-inner-content">
                                        <div class="news-date">
                                            <h3>25</h3>
                                            <h3>ЯНВ</h3>
                                        </div>
                                        <ul>
                                            <li><i class="fa fa-user" aria-hidden="true"></i>Василий</li>
                                            <li><i class="fa fa-book" aria-hidden="true"></i>Кардиология</li>
                                        </ul>
                                        <h3><a href="#">2000г. защитил Высшую квалификационную категорию по специальности</p>
                                        <a href="#" class="text-btn">Подробнее...</a>
                                    </div>  
                                </div>  
                            </div> 
                        </div> 
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">
                            <div class="news-box1">
                                <div class="news-box-img">
                                    <%= image_tag "services-main/correction.jpg", class: "img-responsive",  alt: "logo" %>
                                </div> 
                                <div class="news-box-content">
                                    <div class="news-box-inner-content">
                                        <div class="news-date">
                                            <h3>25</h3>
                                            <h3>ЯНВ</h3>
                                        </div>
                                        <ul>
                                            <li><i class="fa fa-user" aria-hidden="true"></i>Василий</li>
                                            <li><i class="fa fa-book" aria-hidden="true"></i>Кардиология</li>
                                        </ul>
                                        <h3><a href="#">2000г. защитил Высшую квалификационную категорию по специальности</p>
                                        <a href="#" class="text-btn">Подробнее...</a>
                                    </div>  
                                </div>  
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">
                            <div class="news-box1">
                                <div class="news-box-img"><%= image_tag "services-main/correction.jpg", class: "img-responsive",  alt: "logo" %></div> 
                                <div class="news-box-content">
                                    <div class="news-box-inner-content">
                                        <div class="news-date">
                                            <h3>25</h3>
                                            <h3>ЯНВ</h3>
                                        </div>
                                        <ul>
                                            <li><i class="fa fa-user" aria-hidden="true"></i>Василий</li>
                                            <li><i class="fa fa-book" aria-hidden="true"></i>Кардиология</li>
                                        </ul>
                                        <h3><a href="#">2000г. защитил Высшую квалификационную категорию по специальности</p>
                                        <a href="#" class="text-btn">Подробнее...</a>
                                    </div>  
                                </div>  
                            </div> 
                        </div> 
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">
                            <div class="news-box1">
                                <div class="news-box-img"><%= image_tag "services-main/correction.jpg", class: "img-responsive",  alt: "logo" %></div> 
                                <div class="news-box-content">
                                    <div class="news-box-inner-content">
                                        <div class="news-date">
                                            <h3>25</h3>
                                            <h3>ЯНВ</h3>
                                        </div>
                                        <ul>
                                            <li><i class="fa fa-user" aria-hidden="true"></i>Василий</li>
                                            <li><i class="fa fa-book" aria-hidden="true"></i>Кардиология</li>
                                        </ul>
                                        <h3><a href="#">2000г. защитил Высшую квалификационную категорию по специальности</p>
                                        <a href="#" class="text-btn">Подробнее...</a>
                                    </div>  
                                </div>  
                            </div> 
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">
                            <div class="news-box1">
                                <div class="news-box-img"><%= image_tag "services-main/correction.jpg", class: "img-responsive",  alt: "logo" %></div> 
                                <div class="news-box-content">
                                    <div class="news-box-inner-content">
                                        <div class="news-date">
                                            <h3>25</h3>
                                            <h3>ЯНВ</h3>
                                        </div>
                                        <ul>
                                            <li><i class="fa fa-user" aria-hidden="true"></i>Василий</li>
                                            <li><i class="fa fa-book" aria-hidden="true"></i>Кардиология</li>
                                        </ul>
                                        <h3><a href="#">2000г. защитил Высшую квалификационную категорию по специальности</p>
                                        <a href="#" class="text-btn">Подробнее...</a>
                                    </div>  
                                </div>  
                            </div> 
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">
                            <div class="news-box1">
                                <div class="news-box-img"><%= image_tag "services-main/correction.jpg", class: "img-responsive",  alt: "logo" %></div> 
                                <div class="news-box-content">
                                    <div class="news-box-inner-content">
                                        <div class="news-date">
                                            <h3>25</h3>
                                            <h3>ЯНВ</h3>
                                        </div>
                                        <ul>
                                            <li><i class="fa fa-user" aria-hidden="true"></i>Василий</li>
                                            <li><i class="fa fa-book" aria-hidden="true"></i>Кардиология</li>
                                        </ul>
                                        <h3><a href="#">2000г. защитил Высшую квалификационную категорию по специальности</p>
                                        <a href="#" class="text-btn">Подробнее...</a>
                                    </div>  
                                </div>  
                            </div> 
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">
                            <div class="news-box1">
                                <div class="news-box-img"><%= image_tag "services-main/correction.jpg", class: "img-responsive",  alt: "logo" %></div> 
                                <div class="news-box-content">
                                    <div class="news-box-inner-content">
                                        <div class="news-date">
                                            <h3>25</h3>
                                            <h3>ЯНВ</h3>
                                        </div>
                                        <ul>
                                            <li><i class="fa fa-user" aria-hidden="true"></i>Василий</li>
                                            <li><i class="fa fa-book" aria-hidden="true"></i>Кардиология</li>
                                        </ul>
                                        <h3><a href="#">2000г. защитил Высшую квалификационную категорию по специальности</p>
                                        <a href="#" class="text-btn">Подробнее...</a>
                                    </div>  
                                </div>  
                            </div> 
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">
                            <div class="news-box1">
                                <div class="news-box-img"><%= image_tag "services-main/correction.jpg", class: "img-responsive",  alt: "logo" %></div> 
                                <div class="news-box-content">
                                    <div class="news-box-inner-content">
                                        <div class="news-date">
                                            <h3>25</h3>
                                            <h3>ЯНВ</h3>
                                        </div>
                                        <ul>
                                            <li><i class="fa fa-user" aria-hidden="true"></i>Василий</li>
                                            <li><i class="fa fa-book" aria-hidden="true"></i>Кардиология</li>
                                        </ul>
                                        <h3><a href="#">2000г. защитил Высшую квалификационную категорию по специальности</p>
                                        <a href="#" class="text-btn">Подробнее...</a>
                                    </div>  
                                </div>  
                            </div> 
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">
                            <div class="news-box1">
                                <div class="news-box-img"><%= image_tag "services-main/correction.jpg", class: "img-responsive",  alt: "logo" %></div> 
                                <div class="news-box-content">
                                    <div class="news-box-inner-content">
                                        <div class="news-date">
                                            <h3>25</h3>
                                            <h3>ЯНВ</h3>
                                        </div>
                                        <ul>
                                            <li><i class="fa fa-user" aria-hidden="true"></i>Василий</li>
                                            <li><i class="fa fa-book" aria-hidden="true"></i>Кардиология</li>
                                        </ul>
                                        <h3><a href="#">2000г. защитил Высшую квалификационную категорию по специальности</p>
                                        <a href="#" class="text-btn">Подробнее...</a>
                                    </div>  
                                </div>  
                            </div> 
                        </div>                        
                    </div> 
                   <!--  <div class="row">
                        <ul class="mypagination">
                            <li><a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a></li>
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
                        </ul>  
                    </div>  -->
                </div>                  
            </div>